<h2 mat-dialog-title >New Project</h2>
<form style="width: 100%;" class="form-style-width content-justify-center">
    <table cellspacing="0" style="width: 100%;">
        <tr>
            <td>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Project Name</mat-label>
                    <input matInput name="projectName" type="text" [(ngModel)]="data.name">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Project Tags</mat-label>
                    <mat-select multiple name="tagsIds" [(ngModel)]="data.tagIds">
                        <mat-option *ngFor="let tag of tagList" [value]="tag.id" >{{ tag.desc }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <button mat-raised-button [mat-dialog-close]="data" type="button" >Create</button>
            </td>
        </tr>
    </table>
</form>