<h3>New Project</h3>
<form #projectForm="ngForm" (bgSubmit)="onClose()">
    <table cellspacing="0" >
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Project Name</mat-label >
                    <input matInput name="projectName" type="text" [(ngModel)]="projectTemplate.name">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Project Tags</mat-label>
                    <input matInput name="projectTags" type="text" [(ngModel)]="projectTemplate.tags">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <button mat-raised-button type="button" click="onClose()">Create</button>
                </mat-form-field>
            </td>
        </tr>
    </table>
</form>