<div>
    <h2 class="title-center">Projects</h2>
    <div class="content-justify-center" style="width: 100%;">
        <div style="width: 80%;">
            <table mat-table [dataSource]="projects" class="project-table">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef> Created Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'medium'}} </td>
                </ng-container>
                <ng-container matColumnDef="lastModifiedDate">
                    <th mat-header-cell *matHeaderCellDef> Last Modified Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastModifiedDate | date:'medium'}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br>
            <button mat-raised-button (click)="openDialogNewProject()">Create New Project</button>
        </div>
    </div>
</div>