
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-center {
    text-align: center;
}

.content-justify-center {
    display: flex;
    justify-content: center;
}

.selected {
    text-decoration: underline;
}